body {
  background-color: rgb(72, 67, 67);
  font-family: roboto, sans-serif;
}
p {
  color: #a0a2a6;
  font-size: 30px;
  line-height: 53px;
  margin: 0px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}
